<h1 style="text-align: center ; border-style: groove ; border-color: #7959FF;" class= "display-2">Choose Pensioner to Process</h1>
<br />
<select name = "aadhaars" id="aadhaars" (change) = "newPensioner($event)">
    <option>All</option>
    <option *ngFor ="let p of pensionersCopy; index as i" value="{{p.aadhaar}}">{{p.aadhaar}}</option>
</select>
<table class="table table-striped">
    <thead><th>Name</th><th>Aadhaar</th><th>DOB</th><th>PAN</th><th>Salary</th><th>Self/Family</th><th>Allowances</th><th>Bank</th><th>Account No.</th><th>Public/Private</th></thead>
    <tr *ngFor ="let p of pensioners; index as i"><td>{{p.name }}</td><td>{{p.aadhaar }}</td><td>{{p.dob }}</td><td>{{p.pan }}</td><td>{{p.salary }}</td><td>{{p.selfOrFamily }}</td>
        <td>{{p.allowances }}</td><td>{{p.bankDetails.name }}</td><td>{{p.bankDetails.number }}</td><td>{{p.bankDetails.publicOrPrivate }}</td>
        <td><a class="btn btn-large btn-primary" data-toggle="confirmation" (click)="calcPension(p,i)">Process</a></td></tr>
</table>
<table class="table table-striped" *ngIf="isProcessed">
    <thead><th>Pension Amount</th><th>Bank Service Charge</th></thead>
    <tr><td>{{pensionAmount }}</td><td>{{bankServiceCharge }}</td></tr>
</table>
